/* * {
  border: 1px solid grey;
} */

/*css for framed photo*/
:root {
  --vbgColor-header: #88639c;
  --vfontColor-header: #450c90;
  --vbgColor-body: #ede7f0;
  --vfontColor-body: #693e81; /*rgba(105, 62, 129, 1); */
  --vHoverColor: lavender;
}
/*end css for framed photo*/

/*a href css*/
a:link {
  background-color: transparent;
  color: var(--vfontColor-header);
  text-decoration: underline;
}

a:visited {
  background-color: transparent;
  color: var(--vbgColor-body);
  text-decoration: underline;
}

a#selected {
  background-color: transparent;
  color: var(--vfontColor-header);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  background-color: transparent;
  color: var(--vfontColor-header);
  text-decoration: underline;
}

a#link-style {
  background-color: transparent;
  color: var(--vfontColor-body);
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}
/*end a href css*/

body {
  background-color: var(--vbgColor-body);
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100%;
  padding: 25px;
}

.body-wrapper,
.main-wrapper {
  display: flex;
  flex-direction: column;
}

div #about-me {
  padding: 25px 50px;
  margin: 25px;
}

.div-wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 750px;
  align-content: flex-start;
}

/*start form css*/
form {
  margin: 50px auto;
  padding: 10px;
  width: 90%;
}

.form-item {
  align-items: center;
  border-radius: 10px;
  /* display: flex; */
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

.form-item label {
  flex-basis: 70px;
  text-align: left;
  /* font-size: 22px; */
}

.form-item input,
.form-item textarea {
  flex-basis: 75%;
  /* border: 2px solid #FDDC5C; */
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid var(--vHoverColor);
}

.form-item input,
.form-item textarea,
.form-item button {
  background-color: var(--vShadowColor);
  border: 2px solid var(--vfontColor);
  border-radius: 10px;
  padding: 5px;
  /* font-size: 18px; */
}

.form-item button:hover {
  background-color: var(--vShadowColor);
  border: 2px solid var(--purple);
  color: var(--vfontColor);
}

.form-item button {
  width: 100px;
}

.form-wrapper {
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}
/*end form css*/

/*start footer css*/
footer {
  align-items: baseline;
  bottom: 0;
  color: var(--vfontColor-header);
  display: flex;
  font-size: 0.75rem;
  font-weight: lighter;
  height: 50px;
  /* position: fixed; */
  text-align: center;
  width: 100%;
}

footer img {
  height: 20px;
}

footer img#arrow-id {
  height: 20px;
}
/*end footer css*/

.hr-format {
  color: var(--vfontColor);
  width: 10%;
}

h1,
h2,
section {
  text-align: center;
}

h1.h1-style {
  color: var(--vfontColor-header);
  font-size: 25px;
}

h2.h2-style {
  font-size: 20px;
}

header {
  background-color: var(--vbgColor-header);
  width: 100%;
  height: 70px;
}

header img {
  display: inline-block;
  max-height: 80%;
}

html {
  color: var(--vfontColor-body);
  font-family: "Anek Gurmukhi", "Glory", "Trebuchet MS", sans-serif;
  font-size: 20px;
  /* text-shadow: 1px 2px 2px var(--vShadowColor); */
}

.main-wrapper {
  align-content: center;
  flex-direction: column;
  margin: 20px;
  padding: 50px;
  /* border: 1px solid black; */
}

main img {
  border-radius: 5%;
  height: auto;
  /*max-width: 300px; */
  margin: 0 10px;
  max-width: 80%;
}
*/

/*gradient on vertical sides*/
.module {
  /* color: white; */
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
  max-width: 250px;
  padding: 1rem;
}
/*end gradient on vertical sides*/

nav {
  display: flex;
  float: left;
  justify-content: flex-end;
  text-align: bottom;
}

nav li {
  display: inline;
}

nav a {
  height: 30px;
  padding: 5px;
}

p {
  text-align: center;
  max-width: 100%;
}

p #span-style {
  font-weight: bold;
}

/*** Media Queries Below ***/

@media (min-width: 600px) {
  .main-wrapper {
    align-content: space-around;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    height: auto;
  }

  /* .img{
    width: fit-content;
    height: auto;
  }  */

  .form-item {
    padding: 10px 5px 10px 0px;
  }
}

@media (min-width: 900px) {
  .main-wrapper {
    flex-direction: row;
    align-content: center;
  }

  #main-wrapper {
    flex-direction: row-reverse;
    align-content: center;
  }

  .div-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    align-content: flex-start;
  }
  .img {
    width: 100%;
    height: auto;
  }

  .h1-style {
    width: 80%;
  }
}
