 /* * {
  border: 1px solid grey;
} */

/*css for framed photo*/
:root {
  --bgColor: bisque;
  --orchid: #da70d6; /*--red: tomato;*/
  --vfontColor: #450c90;
  --vShadowColor: white; /* turquoise;*/
}
/*end css for framed photo*/

html {
  color: var(--vfontColor);
  font-family: "Glory", "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-shadow: 1px 2px 2px var(--vShadowColor);
}

body {
  background-image: url('images/bgphoto.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 100%;
  padding: 20px;
}

main {
  height: 100%;
  margin: 20px;
  min-height: 80vh;
  padding: 20;
  /* border: 1px solid black;  */
}

main img {
  border-image: round;
  /* border: 1px solid #d5a2fe; */
  border-radius: 10%;
  height: 200px;
  max-width: 100%;
}

header {
  height: 70px;
}

header img {
  display: inline-block;
  max-height: 80%;  
}

nav {
  display: flex;
  float: right;
  justify-content: flex-end;
  text-align: bottom;
}

nav li {
  display: inline;
}

nav a {
  height: 30px;
  padding: 5px;
}

/*start footer css*/
footer {
  align-items: flex-end;
  bottom: 0;
  color:var(--vfontColor);
  display: flex;
  font-size: 0.75rem;
  font-weight: lighter;
  height: 50px;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer img {
  height: 20px;
}

footer img#arrow-id {
  height: 20px;
}
/*end footer css*/

h1,
h2, section {
  text-align: center;
}

p {
  text-align: center;
  max-width: 100%;
}

/* div{
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
} */

div #about-me{
  padding: 25px 50px;
  margin: 25px;
}

.centeralign{
  color: var(--vShadowColor);
  text-align: start;
}

.hr-format{
  color: var(--vfontColor);
  width: 10%;
}

.div-wrapper{ 
  margin: 0 auto;
  width: 80%;
}

/*gradient on vertical sides*/
.module {
  /* color: white; */
  border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
  max-width: 250px;
  padding: 1rem; 
}
/*end gradient on vertical sides*/

/*a href css*/
a:link {
  background-color: transparent;
  color: var(--vfontColor);
  text-decoration: underline;
}

a:visited {
  background-color: transparent;
  color: var(--vfontColor);
  text-decoration: underline;
}

a#selected{
  background-color: transparent;
  color: #1e0216;
  text-decoration: none;
}
a:hover {
  background-color: transparent;
  color: purple;
  text-decoration: underline;
}
/*end a href css*/


/*start form css*/
form {
  margin: 50px auto;
  padding: 10px;
  width: 90%;
}

.form-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 5px;
}

.form-item label {
  flex-basis: 150px;
  text-align: left;
  /* font-size: 22px; */
}

.form-item input,
.form-item textarea {
  flex-basis:75%;
  /* border: 2px solid #FDDC5C; */
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid var(--vfontColor);
}

.form-item input,
.form-item textarea,
.form-item button {
  background-color: var(--vShadowColor);
  border: 2px solid var(--vfontColor);
  border-radius: 10px;
  padding: 5px;
  /* font-size: 18px; */
}

.form-item button:hover {
  background-color: var(--vfontColor);
  border: 2px solid white;
  color: #FFF;
}

.form-item button {
  width: 100px;
}
/*end form css*/


/*** Media Queries Below ***/

@media (min-width: 600px) {
  .div-wrapper {
    align-items: center;
  }
}
/* 
@media (min-width: 900px) {
  .div-wrapper {
    width: calc(100% / 2 - 10px);
    display: inline-block;
  }

} */
